:root {
    --header-height: 55px;
}


.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #252525;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: var(--header-height);
}

.mobile-header .logo img {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    width: 40px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1100;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.menu-toggle.open .hamburger {
    background-color: transparent;
}

.menu-toggle.open .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    width: 70%;
    background-color: #333;
    padding-top: var(--header-height);
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-nav {
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.mobile-nav ul li:first-child {
    padding-top: 0;
    margin-top: 0;
}

.mobile-nav li a {
    display: block;
    padding: 15px 20px;
    color: #c4bcac;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.contact-info-nav {
    padding: 5px 0px;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid rgba(255,255,255,0.1);
}

@media (min-width: 768px) {
    .menu-toggle,
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-header {
        position: fixed;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        height: 80px;
    }

    .mobile-header .logo img {
        width: 60px;
    }

    .desktop-nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .desktop-nav ul li a {
        color: #c4bcac;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: 300;
        text-transform: uppercase;
        transition: color 0.3s ease;
    }

    .desktop-nav ul li a:hover {
        color: #a1744b;
        text-decoration: underline;
    }

    .desktop-nav ul li a.active-link {
        color: #a1744b;
        text-decoration: underline;
        cursor: default;
        pointer-events: none;
    }
}

