/* --- Styles généraux --- */
:root {
    --header-height: 55px; /* Adaptez cette valeur à la hauteur réelle de votre header */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Empêche le scroll horizontal lors de l'ouverture du menu */
    color: #c4bcac;
    background-color: #252525;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* --- Mobile Header (Visible sur mobile) --- */
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #252525;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    -webkit-transform: translateZ(0); /* Pour les navigateurs WebKit (Chrome, Safari) */
    transform: translateZ(0); /* Pour les autres navigateurs */
    height: var(--header-height);
}

.mobile-header .logo img {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0; /* Important pour les images dans les flexbox */
    width: 40px;
}

/* --- Bouton Hamburger --- */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1100; /* Assurez-vous qu'il est au-dessus du menu */
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

/* Animation du Hamburger quand le menu est ouvert */
.menu-toggle.open .hamburger {
    background-color: transparent;
}

.menu-toggle.open .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}


/* --- Mobile Navigation Menu (Caché par défaut) --- */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* Cache le menu sur la gauche */
    width: 70%;
    height: 100dvh; /* Utilise la hauteur du viewport pour qu'il aille jusqu'en bas */
    padding-top: var(--header-height); /* Laissez cet espacement pour le header */
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-nav {
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.mobile-nav.open {
    transform: translateX(0); /* Affiche le menu en plein écran */
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.mobile-nav ul li:first-child {
    padding-top: 0;
    margin-top: 0;
}

.mobile-nav li a {
    display: block;
    padding: 15px 20px;
    color: #c4bcac;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.contact-info-nav {
    padding: 5px 0px;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* MAIN */

main {
    /* Autres styles pour le contenu */
    text-align: center;
    flex: 1;
}

.title-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Calque noir à 50% d'opacité */
}

/* Assurez-vous que le contenu (titre, bouton) a un z-index plus élevé */
.title-section > * {
    position: relative;
    z-index: 1;
}

.title-section{
    position: relative;
    background-image: url('../images/bg-mobile.jpg');
    background-size: cover;          /* L'image couvrira tout le fond de l'élément */
    background-position: center;     /* L'image sera centrée */
    background-repeat: no-repeat;    /* Empêche l'image de se répéter */
    height: 100dvh;
}

.title-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.title-content h1 {
    font-size: 3em;
    margin: 0px;
}

.title-content p {
    margin-top: 0px;
}

.info-section{
    background-color: #706f6c;
    height: 300px;
}

.info-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info-content h1 {
    font-size: 3em;
    margin: 0px;
}

.info-content p {
    margin-top: 0px;
}

.solution-section{
    background-color: #a6a6a6;
    height: 300px;
}

.solution-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.solution-content h1 {
    font-size: 3em;
    margin: 0px;
}

.solution-content p {
    margin-top: 0px;
}

.realisation-section{
    background-color: #252525;
    height: 300px;
}

.realisation-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.realisation-content h1 {
    font-size: 3em;
    margin: 0px;
}

.realisation-content p {
    margin-top: 0px;
}

.contact-section{
    background-color: rgba(173, 173, 173, 0.56);
    height: 300px;
}

.contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contact-content h1 {
    font-size: 3em;
    margin: 0px;
}

.contact-content p {
    margin-top: 0px;
}

.link-section {
    color: white; /* Texte et soulignement blancs */
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.link-section {
    display: inline-block;
    padding: 15px 25px; /* Moins de largeur */
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* Couleurs et bordures avec transparence */
    background-color: rgba(161, 116, 75, 0.8);
    color: #d7d0c8;
    border: 2px solid rgba(161, 116, 75, 0.8);
    transition: all 0.3s ease;

    /* --- AJOUT OU MODIFICATION ICI --- */
    border-radius: 50px; /* Ou une valeur élevée comme 9999px pour un effet pilule */
}

/* FOOTER */

footer {
    background-color: #252525;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center; /* Pour centrer le texte sur les navigateurs plus anciens */
    padding: 15px 0; /* Ajoute un peu de hauteur pour que le contenu ne soit pas collé */

    /* Les propriétés qui centrent parfaitement le contenu */
    display: flex;
    flex-direction: column; /* Aligne les éléments à la verticale */
    justify-content: center; /* Centre le contenu sur l'axe vertical */
    align-items: center; /* Centre le contenu sur l'axe horizontal */
}

footer p {
    margin: 5px 0px;
}

.social-icons a {
    color: #c4bcac; /* Couleur des icônes */
    font-size: 24px; /* Taille des icônes */
    margin: 0 10px; /* Espace entre les icônes */
    transition: color 0.3s; /* Effet de transition au survol */
}

.social-icons a:hover {
    color: #a1744b; /* Change la couleur des icônes au survol */
}

a[href^="tel:"] {
    color: black; /* ou n'importe quelle autre couleur, par exemple #333 pour un gris foncé */
    text-decoration: none; /* Cela supprime le soulignement */
}


/* --- Media Query pour les écrans plus grands (Desktop/Tablet) --- */
@media (min-width: 768px) {
    .mobile-header, .menu-toggle, .mobile-nav {
        display: none; /* Cache le menu hamburger et le menu mobile sur desktop */
    }

    /* Ici, tu mettrais ton header et ta navigation desktop */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background-color: #252525;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    header .logo {
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
    }
    header nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    header nav ul li a {
        padding: 0 15px;
        text-decoration: none;
        color: #333;
    }
    .header .logo img {
        width: 150px; /* Plus grand sur les écrans de bureau */
    }
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

