.individuals-section {
    background-color: rgba(82, 50, 23, 0.34);
}

.individuals-container {
    position: relative;
    margin: auto;
    padding-top: 20px;
    color: #c4bcac;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.individuals-hero-content-wrapper {
    padding: 0px 20px;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: 50px 0px;
    min-height: 100%;
}

.individuals-hero-subtitle {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #c4bcac;
}

.individuals-hero-content-wrapper h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    line-height: 1.1;
    max-width: 800px;
}

.hero-actions {
    display: flex;
    flex-direction: column;
}

.individuals-detail-all-content {
    background-color: rgba(51, 51, 51, 0.92);
}

.individuals-detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 30px 20px 30px;
}

.individuals-image-wrapper {
    width: 100%;
    max-width: 500px;
}

.individuals-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.individuals-text-wrapper {
    width: 100%;
    text-align: left;
}

.individuals-text-wrapper h2 {
    margin-top: 20px;
}

.individuals-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.individuals-list li {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 12px;
    padding-left: 28px;
    position: relative;
}

.individuals-list li::before {
    content: '\f0da';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #a1744b;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1em;
}

.reverse-order {
    padding-top: 0;
}

@media (min-width: 768px) {
    .individuals-section {
        padding-top: 105px;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .individuals-container {
        padding: 0px;
        margin: 0px;
        width: 100%;
        flex-grow: 1;
    }

    .individuals-hero-content-wrapper {
        padding-bottom: 20px;
        margin: 0px auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 500px;
    }

    .individuals-hero-content-wrapper h1 {
        font-size: 4em;
    }

    .individuals-hero-actions {
        flex-direction: row;
        justify-content: flex-start;
    }

    .individuals-detail-all-content-2 {
        padding-bottom: 20px;
    }

    .individuals-detail-content {
        margin: 0px auto;
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
        gap: 80px;
    }

    .individuals-image-wrapper {
        flex: 1;
        position: relative;
        display: inline-block;
    }

    .individuals-text-wrapper {
        flex: 1;
    }

    .reverse-order {
        flex-direction: row-reverse;
    }

    .individuals-image-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(106 84 69 / 20%);
        z-index: 1;
    }
}
