.about-section {
    background-color: rgba(82, 50, 23, 0.34);
}

.about-container {
    position: relative;
    margin: auto;
    padding-top: 20px;
    color: #c4bcac;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-hero-content-wrapper {
    padding: 0px 20px;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: 50px 0px;
    min-height: 100%;
}

.about-hero-content-wrapper h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    line-height: 1.1;
    max-width: 800px;
    text-align: start;
}

.about-detail-all-content {
    background-color: rgba(51, 51, 51, 0.92);
}

.about-detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 30px 0px 30px;
}

.about-text-wrapper {
    width: 100%;
    height: auto;
    display: block;
    text-align: left;
}

.about-contact-info-wrapper {
    width: 100%;
    text-align: left;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-link-info {
    color: #a1744b !important;
    text-decoration: none;
}

.social-icons-info {
    display: none;
}

@media (min-width: 768px) {
    .about-section {
        padding-top: 105px;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .about-container {
        padding: 0px;
        margin: 0px;
        width: 100%;
        flex-grow: 1;
    }

    .about-hero-content-wrapper {
        padding: 0 30px 20px 30px;
        margin: 0px auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 500px;
    }

    .about-hero-content-wrapper h1 {
        font-size: 4em;
    }

    .about-detail-content {
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
        gap: 80px;
    }

    .about-text-wrapper {
        flex: 2;
        margin-bottom: 0;
    }

    .about-text-wrapper h2 {
        margin-bottom: 40px;
    }

    .about-contact-info-wrapper {
        flex: 1;
        position: relative;
        display: inline-block;
    }

    .social-icons-info {
        display: block;
    }

    .social-icons-wrapper a {
        color: #c4bcac;
        font-size: 24px;
        margin: 0 10px;
        transition: color 0.3s;
    }

    .social-icons-wrapper a:hover {
        color: #a1744b;
    }

    .contact-info .info-group a {
        color: #a1744b;
        text-decoration: none;
        transition: color 0.3s;
    }

    .contact-info .info-group a:hover {
        color: #c4bcac;
    }

    .contact-link-info:hover {
        color: #c4bcac !important;
        text-decoration: underline;
    }
}
